html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}
body {
   padding: 0; 
   margin: 0;
   height: 100%;
}
/* Global **/
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 35px;
    padding: 40px;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    padding: 30px;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 25px;
    padding: 20px;
}
h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    margin: 20px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 19px;
    margin: 20px;
}
.container {
    float: right;
    width: 70%;
}
ul li {
    list-style-type: none;
}

/* Navigation **/
nav {
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding-top: 30px;
    min-height: 45px;
    width: 315px;
    float: left;
    margin: 0;
    padding: 0;
    position: fixed;
}

nav ul li {
    float: left;
    margin: 0;
    padding: 7px;
    font-size: 17px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #9FB0F6;
    font-weight: bold;
}

/* Avatar **/
.avatar {
    width: 26%;
    position: fixed;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 2;
}
@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(25px);}
    100% {transform: translateY(0);}
}
.avatar img {
    padding: 70px 0 0 30px;
    width: 90%
}

/* Stars **/
.star-container {
    position: relative;
    transform: rotateZ(45deg);
    z-index: 1;

}
.star {
    position: relative;
    top: 200px;
    left: 200px;
    width: 0px;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 6000ms ease-in-out infinite, shooting 6000ms ease-in-out infinite;
    z-index: 1;
}

@keyframes tail {
    0% {
        width: 0;
    }
    10% {
        width: 70px;
    }
    30% {
        width: 0;
    }
    100% {
        width: 0;
    }
}
@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(500px);
    }
}

.star:nth-child(1) {
    top: 450px;
    left: 300px;
    animation-delay: 1500ms;
}
.star:nth-child(2) {
    top: 200px;
    left: 600px;
    animation-delay: 3000ms;
}
.star:nth-child(3) {
    top: 700px;
    left: 300px;
    animation-delay: 4500ms;
}
.star:nth-child(4) {
    top: 700px;
    left: 600px;
    animation-delay: 6000ms;
}
.star:nth-child(5) {
    top: 400px;
    left: 900px;
    animation-delay: 7500ms;
}
/* Welcome **/
#welcome {
    z-index: 2;
    height: 110%;
    width: 100%;

    color: white;
    
    background: rgb(5,1,25);
    background: url("../img/space.png"), linear-gradient(180deg, rgba(5,1,25,1) 0%, rgba(11,2,62,1) 60%, rgba(11,2,61,1) 100%);
    background-size: cover;
    text-align: center;
}
#welcome .container {
    position: relative;
    z-index: 2;

}
/* About me **/
#aboutme {
    height: 130%;
    width: 100%;

    color: white;
    
    background: rgb(11,2,61);
    background: url("../img/space2.png"), linear-gradient(180deg, rgba(11,2,61,1) 0%, rgba(15,7,99,1) 60%, rgba(10,10,107,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
#aboutme .top img {
    position: relative;
    z-index: 2;
    float: right;
    margin: 20px 0px 70px 20px;
    width: 100%;
}

/* Quote **/
#quote {
    height: 90%;
    background: rgb(10,10,107);
    background: linear-gradient(180deg, rgba(10,10,107,1) 0%, rgba(16,15,129,1) 50%, rgba(18,43,144,1) 100%);  
    color: white;
}
#quote .top img {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

/* Medical Projects **/
#medicalprojects {
    height: 170%;
    width: 100%;
    background: rgb(18,43,144);
    background: linear-gradient(180deg, rgba(18,43,144,1) 0%, rgba(33,80,170,1) 49%, rgba(46,151,237,1) 100%);
    color: white;
}

.cloud {
    background-color: white;
    color: black;
    width:95%;
    height: 300px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius: 100px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 40px 0;
}

.projectimage {
    width: 40%;
    float: left;
    margin: 5% 5%;
    text-align: center;
    background-color: none;
}

.projectimage img {
    width: 90%;
    border-radius: 50px;
}

.projecttext {
    width: 45%;
    float: left;
    text-align: center;
    background-color: none;
    margin: 5% 0;
}

/* Other Projects **/
#otherprojects {
    height: 130%;
    width: 100%;
    background: rgb(46,151,237);
    background: linear-gradient(180deg, rgba(46,151,237,1) 0%, rgba(56,164,242,1) 49%, rgba(55,172,245,1) 100%);
    color: white;
}

/* Contact **/
#contact {
    background: rgb(55,172,245);
    background: linear-gradient(180deg, rgba(55,172,245,1) 0%, rgba(71,184,255,1) 49%, rgba(94,192,255,1) 100%);
    height: 100%;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    float: left;
}

#contact a {
    text-decoration-style: dotted;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}
/* Linkedin */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
/* Facebook */
.fa-linkedin {
    background: #2867B2;
    color: white;
  }
  
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Footer **/
footer {
    background-color: #00EE00;
    text-align: center;
    margin: 0;
    padding:  30px;
    color: darkgreen;
    font-weight: bold;
}
/* Project Template **/
.projecttemplate {
    margin: 0;
    background: 0;
    background-color: #416cdf;
    color: white;
}
.projecttemplate img {
    border-radius: 10px;
}
.projecttemplate header{
    text-align: center;
}
.projecttemplate .small{
    width: 30%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.right {
    float: right;
    margin: 2.5px 0 0 0;
}
.projecttemplate .medium{
    width: 40%;
}
.projecttemplate .large{
    width: 70%;
}
.projecttemplate a{
    color: white;
    text-decoration-style: dotted;
}
.projecttemplate footer {
    background: #3ADF3A;
    color: darkgreen;
}
